name: Reference Discord Question

on:
  schedule:
    - cron: "0 6 */1 * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  send-message:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Send next question
        run: |
          # ======================================
          
          # ======================================

          readarray -t REFERENCES << 'EOF'
          text|Let me break it down to you, Mark.
          image|https://raw.githubusercontent.com/Vincent6760/reference-webhook/main/images/The_Cake_is_a_Lie_(12521108583).jpg
          text|One ring to rule them all.\nOne ring to find them.\nOne ring to bring them all.\nAnd in the darkness bind them.
          image|https://raw.githubusercontent.com/Vincent6760/reference-webhook/main/images/mikuwhite.jfif
          text|No cost too great.
          image|https://raw.githubusercontent.com/Vincent6760/reference-webhook/main/images/silksong.png
          text|I am inevitable.
          text|It’s a beautiful day outside. Birds are singing, flowers are blooming…\nOn days like these, kids like you…\nShould be burning in hell.
          image|https://raw.githubusercontent.com/Vincent6760/reference-webhook/main/images/tameyourdragon.jpg
          text|Say my name.
          text|I drink and I know things.
          image|https://raw.githubusercontent.com/Vincent6760/reference-webhook/main/images/grimm.jpg
          text|NO DISTRACTIONS!
          EOF


          # ======================================
          # DO NOT EDIT BELOW THIS LINE
          # ======================================

          if [ "${#REFERENCES[@]}" -eq 0 ]; then
            echo "No questions found. Exiting."
            exit 0
          fi

          INDEX_FILE=".reference_index"

          if [ ! -f "$INDEX_FILE" ]; then
            echo 0 > "$INDEX_FILE"
          fi

          INDEX=$(cat "$INDEX_FILE")

          if [ "$INDEX" -ge "${#REFERENCES[@]}" ]; then
            INDEX=0
          fi

          ENTRY="${REFERENCES[$INDEX]}"

          TYPE="${ENTRY%%|*}"
          CONTENT="${ENTRY#*|}"

          NEXT_INDEX=$((INDEX + 1))

          echo $NEXT_INDEX > "$INDEX_FILE"

          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add "$INDEX_FILE"

          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Rotate reference webhook question"
            git push
          fi
          
          if [ "$TYPE" = "image" ]; then
          curl -X POST \
          -H "Content-Type: application/json" \
          -d "{
            \"embeds\": [{
              \"color\": 10181046,
              \"image\": {
                \"url\": \"$CONTENT\"
              }
             }]
            }" \
            ${{ secrets.TORU }}

          elif [ "$TYPE" = "text" ]; then
          curl -X POST \
            -H "Content-Type: application/json" \
            -d "{
              \"embeds\": [{
                \"title\": \"Guess The Reference\",
                \"description\": \"$CONTENT\",
                \"color\": 10181046
              }]
             }" \
            ${{ secrets.TORU }}
              fi

